.m1 {

  /* border:0px; */
  border-bottom: 1px solid #e0e0e0;
  background: white;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}


.img {
  border: 1px solid #bdbdbd;
  text-align: center;
  border-radius: 50px;
  width: 50px;
  line-height: 10px;
  padding: 8px;
  float: left;
  margin-right: 10px;
}

.estado-color-verde {
  background: #43a047;
  color: #e0e0e0;
}

.estado-color-amarillo {
  background: #ffb300;
  color: #424242;
}

.estado-color-rojo {
  background: #d81b60;
  color: #e0e0e0;
}

.trasicion-border {
  transition: border-left 0.3s ease-out;
}

.border-left-item-verde {
  border-left: 10px solid #43a047;
}

.border-left-item-rojo {
  border-left: 10px solid #d81b60;
}

.border-left-item-amarillo {
  border-left: 10px solid #ffb300;
}

.m1-selected {
  /* margin: 10px; */
  border: 1px solid #e0e0e0;
  background: #eeeeee;
  border-radius: 5px;
}

.margin-input {
  margin-bottom: -20px;
  margin-top: -20px;
}

.color-fondo-ul {
  background: #616161;
}

.li-padding-selected {
  padding: 12px;
}

.li-padding-selected .xcontent {
  border: 1px solid #e0e0e0;
  background: #eeeeee;
  border-radius: 5px;
  /* position: inherit; */

}

.p-titulo-item-sin-detalle {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-titulo-item-select {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;  
}

.content-titulo-item {
  font-size: 14px;
}

.content-titulo-item .titlo-detalle {
  font-size: 13px;
  font-family: Ubuntu-Light;
  color: #616161;

  display: -webkit-box;
  max-width: 100%;
  max-height: 40px;
  margin: 0 auto;  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}

.titulo-detalle-seccion {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li-padding-selected .xtitulo {
  background: #e0e0e0;
  /* position: static; */
}

.li-padding-selected .flag-stock {
  display: inline-block;
}

.tb-tpc tr>td {
  font-size: 12px;
  border-bottom: 1px dashed #e0e0e0;
}

.btn-tbl {
  text-align: center;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
}


.flag-stock {
  position: absolute;
  float: right;
  margin-top: -9px;
  margin-right: 50px;
  /* padding: 0px 10px 0px 10px; */
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  right: 10px;
  line-height: 1;
  display: none;
}

.li-padding-selected .flag-stock-dialog {
  display: inline-block;
}

.li-tachado {
  text-decoration: line-through;
  color: red;
}

.flag-stock-dialog{
    float: right;
    margin-top: -9px;    
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    right: 10px;
    line-height: 1;    
}

.mat-dialog-container {
  padding: 0px !important;
}


.m-toolbar-seccion {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.m-main-pt-40 {
  padding-top: 40px;
}

.titulo-num-mesa {
  background: #757575;
  color: black;
}

/* subitems */
.subitem-content {
  display: inline-flex;
  width: 100%;
  padding-bottom: 20px;
  background: lightgoldenrodyellow;
  padding: 5px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.subitem-content .xoption {
  display: inline-flex;  
  padding-right: 8px;
  min-width: 150px;
}

.subitem-content .xoption .agotado {
  text-decoration: line-through;
  color: palevioletred;
}
/* 
.subitem-content .xoption .precio {
  position: relative;
  right: -50%;
} */
