<div class="animated fadeInUp p-3">
    <p class="fs-18">Mis Pedidos</p>
    <hr>
    <div>
        <div class="div-flat-white-borde mb-2 fs-13" *ngFor="let item of listMisPedidos">
            <div class="d-flex justify-content-between">
                <p class="fw-100">Pedido: <span class="fw-600">{{item.idpedido}}</span></p>
                <p class="fw-600"
                    [ngClass]="{'text-success': item.pwa_delivery_status==='1'}"
                >{{item.estado}}</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-9">
                    <p>{{item.ciudad}} | {{item.nombre}}</p>                    
                </div>
                <div class="col-3 text-right">
                    <p>S/.{{item.total_r}}</p>
                </div>            
            </div>
        </div>
    </div>
</div>