<!-- loader -->
  <div [ngClass]="{'loaded': socketService.isSocketOpen$ | async}">
    <div class="wrapper">
        <div id="loader-wrapper">
        <div id="loader"></div>                
        <div class="loader-msj">{{socketService.msjConex$ | async}}</div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        </div>
    </div>
  </div>     
<!-- loader -->


<!-- <div *ngIf="isPagePagarShow">
  <router-outlet></router-outlet>
</div> -->

<!-- <router-outlet></router-outlet> -->
<!-- *ngIf="!isPagePagarShow" -->
<div class="h-100 overflow-hidden" >  
    <app-progress-time-limit></app-progress-time-limit>
    <div class="toolbar-main" [ngClass]="{'fadeInTool': isVisibleToolBar, 'fadeOutTool': !isVisibleToolBar}">
      <app-tool-bar></app-tool-bar>
    </div>        

    <div>      
      <mat-tab-group (selectedTabChange)="clickTab($event)" backgroundColor="primary" color="accent"
        class="main-contemt transicion xanimated xfadeIn" [selectedIndex]="selectedTab"
        [ngClass]="{'header-less-tabs pt-0': isBusqueda}">
        <mat-tab label="Carta">
          <div class="x100-toolbar-hidden" (scroll)="onScroll($event)">          
            <app-carta></app-carta>
            <br>
          </div>     
        </mat-tab>
        <mat-tab label="MiPedido">
          <ng-template matTabLabel>
              <span>Mi Orden</span>              
              
              <div *ngIf="countTotalItems > 0" class="countItem countTotal animated fadeInUp d-flex">
                {{countTotalItems | number: '2.'}}
                <div class="div-spinner">
                </div>
              </div>              
          </ng-template>
          <div class="x100-toolbar-hidden" (scroll)="onScroll($event)">
            <app-resumen-pedido></app-resumen-pedido>
            <br>
          </div>
        </mat-tab>

        <!-- solo si es usuario cliente  -->
        <mat-tab label="Estado" *ngIf="isUsuarioCliente && !isClienteDelivery">
          <!-- <ng-container *ngIf="isUsuarioCliente"> -->
            <div class="x100-toolbar-hidden" (scroll)="onScroll($event)"> 
              <app-estado-pedido></app-estado-pedido>
              <br>
            </div>
          <!-- </ng-container>         -->
        </mat-tab>
      </mat-tab-group>
    </div>    

   

</div>