<div class="animated fadeInDown">
    <div class="p-3 bg-dark text-white fs-13 d-flex justify-content-between">
        <div>
            <span>Efectivo en mano</span>
        </div>
        <div>
            <span>S/. {{efectivoMano | number: '.2'}}</span>
        </div>
    </div>
</div>

<!-- lista pedidos -->
<div class="w-100">    
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="clickTab($event)">
        <mat-tab label="Pendientes"> 

            <div class="p-3 x-h-size">
                <ng-container *ngIf="listPedidosGroup.length === 0; else elseTemplate">
                    <div class="text-center" *ngIf="!isExpress">
                        <button mat-stroked-button (click)="recargarPedido()">Recargar ...</button>

                        <br><br>
                        <button class="btn btn-secondary" (click)="goScanCodeBar()">
                            <i class="fa fa-barcode pr-"></i>
                            Escanear codigo barras</button>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>                                
                        <!-- <div *ngFor="let item of listPedidos">
                            <app-item-pedido [infoPedido] = "item" (aceptaPedido)="aceptaPedido($event)"></app-item-pedido>
                        </div> -->

                        <div>
                            <app-item-pedido [listPedidos] = "listPedidosGroup" [importeAcumuladoPagar]="sumAcumuladoPagar" (aceptaPedido)="aceptaPedido($event)"></app-item-pedido>
                        </div>                        
                </ng-template>

                <!-- si es pedido express -->
                <div *ngIf="isExpress">
                    <div *ngFor="let item of pedido_express" class="mb-3 animated fadeInDown">
                        <app-item-pedido-express [elpedido]="item" (pedidoEntregado)="pedidoExpressEntregado($event)"></app-item-pedido-express>
                    </div>
                </div>
                        
            </div>

        </mat-tab>
        <mat-tab label="Entregados"> 
            <div class="x-h-size">

                <app-pedidos-atendidos [tabIndex]="_tabIndex"></app-pedidos-atendidos>
            </div>
        </mat-tab>        
    </mat-tab-group>
</div>

<!-- <div class="xfooter" matRipple>
    <div class="btn-footer">
        <i class="fa fa-qrcode fa-2x pr-2" aria-hidden="true"></i>
        <span>Scanear Qr pedido</span>
    </div>
</div> -->