<mat-toolbar color="primary">   
 <mat-toolbar-row [ngClass]="{'toolbar-busqueda': isBusqueda}">
   <ng-container *ngIf="!isBusqueda"> 
        
     <i *ngIf="isClienteDelivery" class="fa fa-arrow-left pr-2" (click)="goBackOutEstablecimiento()"></i>  
    <span>{{ nomSede | titlecase }}</span>
    <span class="example-spacer"></span>
    <div style="display: contents;">       
       <div class="example-ripple-container fs-15" matRipple 
         [matRippleColor]="rippleColorBusqueda"
         matRippleCentered="true"
         matRippleUnbounded="true"
         matRippleRadius="290"
         (click)="activaBusqueda()"
         title="Buscar">
            <i title="Cerrar Sesion" class="fa fa-search" aria-hidden="true"></i>
       </div>
       <div class="example-ripple-container fs-15" matRipple matRippleCentered="true" [matRippleColor]="rippleColor" title="Cerrar Sesion" (click)="cerrarSession()">
            <i title="Cerrar Sesion" class="fa fa-sign-out" aria-hidden="true"></i>
       </div>
       <!-- <button class="noSelect" mat-icon-button title="Cerrar Sesion"  (click)="cerrarSession()">
            <i title="Cerrar Sesion" class="fa fa-sign-out" aria-hidden="true"></i>
       </button>       -->
    </div>
   </ng-container>

   <ng-container *ngIf="isBusqueda">
      <div class="d-flex w-100">
       <div class="example-ripple-container text-success fs-15" style="margin-left: -15px;" matRipple matRippleCentered="true" [matRippleColor]="rippleColorPlomo" title="Atras" (click)="activaBusqueda()">
            <i title="Cerrar Sesion" class="fa fa-arrow-left" aria-hidden="true"></i>
       </div>
       <input type="text" class="text-busqueda w-100" placeholder="Buscar..." #txtBuscar (keyup)="buscarCharAhora(txtBuscar.value)" autofocus>
       <div [hidden]="txtBuscar.value === ''" class="example-ripple-container text-dark fs-15" matRipple matRippleCentered="true" [matRippleColor]="rippleColorPlomo"  (click)="clearTextBuqueda()">
            <i title="Cerrar Sesion" class="fa fa-times" aria-hidden="true"></i>
       </div>
      </div>
   </ng-container>
   
    <!-- <button (click)="cerrarSession()">aa</button> -->
 </mat-toolbar-row>
</mat-toolbar>
