<div class="animated fadeIn">     
     
    <ng-container *ngIf="!isDeliveryCliente; else templateDelivery">
        
        <div class="row xboder-abajo m-0 p-2">
            <div class="col-4 text-center xboder-derecha">
                <span>{{tituloMesa}}</span>
                <h3>{{infoToken.numMesaLector | number:'2.'}}</h3>
            </div>
            <!-- <span *ngIf="!estadoPedido">.</span> -->    
            <ng-template #elseTemplate>
                
            </ng-template>
            
            <div class="col-8 xcontainer-center text-right" *ngIf="estadoPedido">
                <span *ngIf="estadoPedido.estado === 0">Tiempo de espera <strong>{{ tiempoEspera }} min</strong> aprox.</span>
                <span *ngIf="estadoPedido.estado === 1">Su pedido esta por llegar.</span>
                <span *ngIf="estadoPedido.estado === 2">Su pedido ya fue despachado.</span>
            </div>
        </div>

        <!-- importe -->
        <div class="row xboder-abajo m-0 p-2 xcontainer-center">
            <div class="col-6 pb-3 pt-3">
                <span class="fs-13">Importe a pagar</span><br>
                <ng-container *ngIf="estadoPedido.hayPedidoClientePendiente; else elseTemplateCuenta">
                    <span class="text-danger">Tiene pedido pendiente.</span>
                </ng-container>
                <ng-template #elseTemplateCuenta>                
                    <span class="text-info xCursor" (click)="verCuenta()">Ver cuenta</span>
                </ng-template>
                
            </div>
            <div class="col-6 text-right">
                <span class="fs-25">S/. {{ estadoPedido.importe | number: '.2' }}</span>
            </div>
        </div>

        <!-- link pagar -->
        <div class="row xboder-abajo m-0 p-2 pt-3 pb-3 xcontainer-center">
            <div class="col-8">
                <img class="pr-2" src="./assets/images/001-visa.png" alt="visa-card">
                <img class="pr-2" src="./assets/images/002-mastercard.png" alt="maestro-card">
                <img src="./assets/images/002-american-express.png" alt="american-express">
                <!-- <img src="./assets/images/003-diners-club.png" alt="diners-club"> -->
            </div>
            <div class="col-4 text-right">
                <button [disabled]="estadoPedido.hayPedidoClientePendiente || estadoPedido.importe == 0" mat-flat-button color="primary" (click)="pagarCuenta()">Pagar</button>
            </div>
        </div>

        <!-- SOLCITAR ATENCION - LLAMAR AL PERSOANL -->

        <div *ngIf="!infoToken.isSoloLLevar" class="row xboder-abajo m-0 p-2 xcontainer-center" matRipple [matRippleColor]="rippleColor" (click)="solicitarAtencion()">
            <div class="col-8 pb-3 pt-3">
                <span class="fs-13">Solicitar atención del personal.</span>
                <span class="fs-13 text-info pl-2 animated flash" [hidden]="!isViewMsjSolicitudPersoanl">Solicitud enviada.</span>
            </div>
            <div class="col-4 text-right">
                <img src="./assets/images/solicitar-atencion.png" alt="solicitar-atencion">
            </div>
        </div>

        <!-- link encuesta -->
        <div class="row xboder-abajo m-0 p-2 xcontainer-center">
            <div class="col-12 pb-3 pt-3">
                <span class="fs-13">Al cancelar la cuenta por favor tomece un minuto para calificar nuestro servicio, su opinión es muy importante.</span>
            </div>
        </div>

        <!-- link completar datos -->
        <!-- <div class="row xboder-abajo m-0 p-2 xcontainer-center">
            <div class="col-8 pb-3 pt-3">
                <span class="fs-13">Complete su información para recibir promociones y descuentos.</span>            
            </div>
            <div class="col-4 text-right">
                <button mat-flat-button color="primary"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div> -->
    </ng-container>



    <!-- cunado es DELIVERY  -->
    <ng-template #templateDelivery>
        <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor">
            <span class="fw-100 fs-12 text-secondary">Direccion de entrega:</span>
            <p class="m-0">Jr. Reyes Guerra 456</p>
        </div>
        <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor">
            <!-- <span class="fw-100 fs-12 text-secondary">Hora de entrega:</span> -->            
            <p class="m-0"><i class="fa fa-clock-o"></i> Hora de entrega: 10 - 15 min</p>
        </div>
        <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor">
            
            <!-- <p class="m-0">Jr. Reyes Guerra 456</p> -->
            <mat-form-field class="w-100">
                <input type="number" matInput placeholder="Telefono">
            </mat-form-field>
            <span class="fw-100 fs-12 text-secondary">Añade un número de teléfono para que podamos contactarte e informarte de tu pedido.</span>
        </div>

        <div class="border-bottom m-0 p-3" matRipple [matRippleColor]="rippleColor">
            <div class="row border-bottom">
                
            </div>
        </div>
    </ng-template>    
    <br><br>
</div>