/* .mat-tab-header {
  z-index: 9999;
  position: sticky !important;
  top: 0px;
  background-color: white !important;
} */

/* ::ng-deep .mat-tab-body-wrapper {
  height: calc(100vh - 105px);
} */

/* .color-fondo {
  background: #eeeeee;
} */
.main-contemt {
  overflow: hidden !important;
}

.x100 {
  height: 100vh;
  overflow: auto;
}

/* .transicion {
    transition: all 0.3s ease-out;
} */

.toolbar-main {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}


@keyframes fadeOutTool {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: -60px;
    display: none;
    visibility: hidden;
  }
}

.toolbar-main.fadeOutTool {
  animation-name: fadeOutTool;
}

@keyframes fadeInTool {
  from {
    margin-top: -60px;
    display: inline-block;
  }

  to {
    margin-top: 0px;
  }
}

.toolbar-main.fadeInTool {
  animation-name: fadeInTool;
}

.x100-toolbar-visible {
  height: calc(100vh - 105px);
  overflow: auto;
}

.x100-toolbar-hidden {
  height: calc(100vh - 49px);
  overflow: auto;
}

.countItem {
  padding: 2px 6px 2px 3px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.countTotal {
  float: right;
  background: #f44336;
  color: #eeeeee;
}