
/* dialog full screen */
.my-full-screen-dialog {
    max-width: none !important;
    width: 100vw;
    height: 100vh;
  }
  
.my-full-screen-dialog .mat-dialog-container {
padding: 0px !important;
border-radius: 0px;
}