<div class="animated fadeIn">
    <!-- encabezado -->
    <div class="d-flex justify-content-between">
        <div>
            <p class="fw-600">Pedido #{{orden.idpedido}}</p> 
            <ng-container *ngIf="orden.pwa_delivery_status === '4'">
                <span class="fw-600 fs-15 text-success">Entregado</span>
            </ng-container>
                          
        </div>
        <div>
            <!-- boton cerrar -->
            <button type="button" class="btn btn-secondary" mat-dialog-close>
                <i class="fa fa-close"></i>                
            </button>
        </div>
    </div>
    <hr>
    <div>
        <span class="fs-13 fw-600 text-secondary">Comercio: </span>
        <div class="row">
            <div class="fs-13 col-6">
                <p><i class="fa fa-user"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.nombre}}</p>
                <p><i class="fa fa-map-marker"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.direccion}}</p>
            </div>
            <div class="col-6 w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-secondary" (click)="irAlComercio()">Ir al comercio</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="fs-13">
            <span class="fs-13 fw-600 text-secondary">Cliente: </span>
            <p><i class="fa fa-user"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.nombre}}</p>
            <p><i class="fa fa-map-marker"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.direccion}}</p>
            <p><i class="fa fa-map-marker"></i> Ref:  {{orden.json_datos_delivery.p_header.arrDatosDelivery.referencia}}</p>
            <p><i class="fa fa-phone"></i> {{ orden.json_datos_delivery.p_header.arrDatosDelivery.telefono }}</p>
            
            <hr>

            <!-- metodo pago y facturacion -->
            <!-- <div class="d-flex justify-content-between"> -->
                <div>
                    <span class="fs-13 fw-600 text-secondary">Cliente paga con: </span>
                    <p>{{orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.descripcion}} <span class="pl-2">{{ importeEfectivo }}</span></p>
                </div>

                <hr>

                <div>
                    <span class="fs-13 fw-600 text-secondary">Solicitar: </span>                    
                    <p><span class="fw-600">{{comprobanteSolicitar}}: </span> <span class="fw-100">{{ indicacionesComprobante }}</span></p>    
                </div>
            <!-- </div>             -->

        </div>      
        <hr>
        <div class="row text-center" *ngIf="orden.pwa_delivery_status !== '4'">
            <hr>
            <div matRipple class="col-6 border-right text-info" (click)="callPhone()"><i class="fa fa-phone" aria-hidden="true"></i> LLamar</div>
            <div matRipple class="col-6 text-info" (click)="redirectWhatsApp()"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enviar Mensaje</div>
        </div>  
    </div>
    <hr>

    
    <!-- detalles del pedido -->
    <app-comp-pedido-detalle></app-comp-pedido-detalle>
            
    <hr>

    <!-- boton accion segun estado  *ngIf="orden.pwa_delivery_status !== '4'" -->
    <div class="text-center">
        <div *ngIf="!isLlegoDestino">
            <button class="btn btn-info" style="width: 85%;"
            (click)="goDireccion()"           
            ><span class="fs-18"><i class="fa fa-map-marker"></i>  Ir a la direccion</span></button>
            <hr>
        </div>
        <button class="btn btn-success" style="width: 85%;"
        (click)="PedidoEntregado()"
        ><span class="fs-18"> <i class="fa fa-thumbs-up"></i> Listo, Pedido Entregado</span></button>
    </div>
</div>