<div class="animated fadeIn">
    <!-- encabezado -->
    <div class="d-flex justify-content-between">
        <div>
            <p class="fw-600">Pedido #{{orden.idpedido}}</p> 
            <ng-container *ngIf="orden.pwa_delivery_status === '4'">
                <span class="fw-600 fs-15 text-success">Entregado</span>
            </ng-container>
                          
        </div>
        <div>
            <!-- boton cerrar -->
            <button type="button" class="btn btn-secondary" mat-dialog-close>
                <i class="fa fa-close"></i>                
            </button>
        </div>
    </div>
    <hr>
    <div>
        <div class="fs-13">
            <span class="fs-13 fw-600 text-secondary">Cliente: </span>
            <p><i class="fa fa-user"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.nombre}}</p>
            <p><i class="fa fa-map-marker"></i>  {{orden.json_datos_delivery.p_header.arrDatosDelivery.direccion}}</p>
            <p><i class="fa fa-phone"></i> {{ orden.json_datos_delivery.p_header.arrDatosDelivery.telefono }}</p>
            
            <hr>

            <span class="fs-13 fw-600 text-secondary">Cliente paga con: </span>
            <p>{{orden.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.descripcion}} <span class="pl-2">{{ importeEfectivo }}</span></p>

        </div>      
        <div class="row text-center" *ngIf="orden.pwa_delivery_status !== '4'">
            <hr>
            <div matRipple class="col-6 border-right text-info" (click)="callPhone()"><i class="fa fa-phone" aria-hidden="true"></i> LLamar</div>
            <div matRipple class="col-6 text-info" (click)="redirectWhatsApp()"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enviar Mensaje</div>
        </div>  
    </div>
    <hr>

    
    <!-- detalles del pedido -->
    <app-comp-pedido-detalle></app-comp-pedido-detalle>
            
    <hr>

    <!-- boton accion segun estado -->
    <div class="text-center" *ngIf="orden.pwa_delivery_status !== '4'">
        <button class="bg-success btn btn-success" *ngIf="!isLlegoDestino"
        (click)="goDireccion()"           
        ><span class="fs-18">Ir a la direccion</span></button>

        <button class="bg-success btn btn-success" *ngIf="isLlegoDestino"
        (click)="PedidoEntregado()"
        ><span class="fs-18">Listo, Pedido Entregado</span></button>
    </div>
</div>