<!-- SOLO INDICA EL COMERCIO -->

<agm-map *ngIf="coordenadas"
    [latitude]="coordenadas.latitude" 
    [longitude]="coordenadas.longitude"
    [zoom]="coordenadas.zoom">
    <agm-marker 
        [latitude]="coordenadas.latitude" 
        [longitude]="coordenadas.longitude"
        [markerDraggable]="false"        
        >
    </agm-marker>
    

    <!-- ubicacion del repartidor -->
    <!-- [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)" -->
    <agm-marker *ngIf="miPosition"                
        [latitude]="miPosition.lat" 
        [longitude]="miPosition.lng"        
        [label]="Repartidor"
        [iconUrl]='{"url": "./assets/images/delivery-man.png", "scaledSize": {"height": 25, "width": 25}}'
        >
    </agm-marker>
</agm-map>   