<div class="container-body animated fadeInDown">
    <div class="bg-dark text-white fs-13 d-flex justify-content-between align-items-center p-2">
        <div matRipple class="pl-2 btn-link-2 xCursor" (click)="scanCode = true">
            <div class="d-flex align-items-center">
                <i class="fa fa-qrcode fa-2x"></i>
                <span class="fs-11 pl-2">Escanear Codigo</span>
            </div>
        </div>
        <div matRipple class="pr-2" (click)="resumenDelDia()">
            <span class="btn-link-2 xCursor">Resumen</span>
        </div>
    </div>

    <div *ngIf="!isShowResumen" >

        <!-- ahora con lista 280720 -->
        <div *ngIf="scanCode" class="w-100 center-div-screen">
                
            <div *ngIf="!isResulScan" class="animated fadeIn text-center">
                <app-scan-code-pedido (codeScanSucces)="succesScan($event)"></app-scan-code-pedido>
                <button class="btn btn-sm btn-secondary" (click)="scanCode=false"><span class="fs-12"> Cancelar</span></button>
            </div>

            <div *ngIf="isResulScan" class="animated fadeIn">
                <ng-container *ngIf="loadingScan; else elseTemplate">
                    <div class="w-100 text-center">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                        <p>Obteniendo Datos ...</p>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    
                    <div class="w-100 text-center">
                        <p>Pedido Asinado: {{ ordenAsingadaScan.idpedido }}</p>
                        <p>{{ ordenAsingadaScan.json_datos_delivery.p_header.arrDatosDelivery.nombre }}</p>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-sm btn-success mr-1" (click)="isResulScan = false"><span class="fs-12">Escanear Otro</span></button>
                            <button class="btn btn-sm btn-secondary" (click)="scanCode=false; isResulScan = false"><span class="fs-12">Finalizar</span></button>
                        </div>
                    </div>

                </ng-template>
                
            </div>

        </div>

        <div *ngIf="!scanCode">
            <p class="p-3">Lista de pedidos asignados:</p>

            <!-- icon waiting -->
            <div *ngIf="!scanCode && !listPedidos" class="p-5 w-100 text-center">
                <img src="./assets/images/waiting.JPG" width="250px" alt="waiting">
                <br><br>
                <div *ngIf="isRepartidorRed">
                    <button mat-stroked-button (click)="goBackRepartidorRed()"><i class="fa fa-arrow-left pr-2"></i>  Atas</button>
                </div>
            </div>

            <table mat-table class="w-100" *ngIf="listPedidos" [dataSource]="listPedidos">
                <ng-container matColumnDef="Pedido">
                <th mat-header-cell *matHeaderCellDef> Pedido </th>
                <td mat-cell *matCellDef="let element">
                    <p class="fw-600 fs-12">{{ element.idpedido }}</p>
                    <p class="fw-100 text-secondary fs-12">
                        <span class="text-success fs-10" [ngClass]="{'text-danger': element.hora_show > 30}">
                            {{ element.hora_show }} min
                        </span>
                        </p>
                </td>              
                </ng-container>
            
                <ng-container matColumnDef="Cliente">
                <th mat-header-cell *matHeaderCellDef class="text-left"> Cliente </th>
                <td mat-cell *matCellDef="let element" class="text-left"> 
                    <p class="fw-600 fs-12"> {{ element.json_datos_delivery.p_header.arrDatosDelivery.nombre | titlecase }}  </p>
                    <p class="fw-100 fs-12">
                        <span class="fw-600 badge" [ngClass]="{'badge-primary': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 3, 'badge-info': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2, 'badge-secondary': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 1}">
                            {{element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.descripcion | titlecase }} 
                        </span> 
                        <span class="text-secondary fs-10 ml-1">
                            {{ element.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.distancia_km }} Km
                        </span>
                        </p>
                </td>              
                </ng-container>

                <ng-container matColumnDef="Importe">
                    <th mat-header-cell *matHeaderCellDef class="text-right"> Importe </th>
                    <td mat-cell *matCellDef="let element" class="text-right"> 
                        <p class="fw-600 fs-12"> {{ element.importe_pagar_comercio | number : '.2' }}  </p>
                        <p *ngIf="element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2" class="badge badge-info">
                            pagado con tarjeta
                        </p>
                    </td>              
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetallePedido(row)" [ngClass]="{'color-checked': row.pwa_estado === 'E'}"></tr>            
            </table>

            <div class="w-100 pt-3" *ngIf="listPedidos">
                <div class="text-right pr-4">
                    <div>
                        <span class="text-secondary pr-2">Total a pagar: </span>
                        <span class="fw-600 fs-18"> {{ sumListPedidos | number : '.2' }} </span>
                    </div>

                    <div>
                        <span class="text-secondary fs-13 pr-2">Comision Entrega: </span>
                        <span class="fw-600 fs-13 badge badge-info"> {{ sumGananciaTotal | number : '.2' }} </span>
                    </div>
                                    
                </div>              
            </div>
            <br><br>

            
        </div>
    </div>

    <div *ngIf="isShowResumen" class="animated fadeIn">
        <app-pedidos-atendidos></app-pedidos-atendidos>
        <div class="text-center w-100">                        
            <button class="btn btn-sm btn-success" (click)="isShowResumen = false"><i class="fa fa-arrow-left"></i> Atras </button>
        </div>
    </div>

    <!-- antes con mapa -->
    <!-- <div class="content-body-mapa">
        <ng-container *ngIf="isShowResumen; else elseTemplate">            
            <div class="p-3 animated fadeInRight">
                <p class="fw-600 fs-18"><i class="fa fa-arrow-left pr-2 xCursor" (click)="isShowResumen = !isShowResumen"></i> Resumen del dia</p>
                <table class="table w-100">
                    <thead>
                        <th>Metodo</th>
                        <th>Importe</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let metodo of listRepartidoresInformativo.metodoPago">
                            <td>                            
                                <span class="fw-600 badge" style="font-size: 13px;" [ngClass]="{'badge-primary': metodo.idtipo_pago === 3, 'badge-info': metodo.idtipo_pago === 2, 'badge-secondary': metodo.idtipo_pago === 1}">
                                    {{metodo.descripcion | titlecase }} : 
                                </span> 
                                <span class="text-secondary pl-1">{{metodo.num_pedidos | number: '2.' }} </span>
                            </td>
                            <td>
                                <span class="text-secondary">{{metodo.importe | number: '.2' }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Pedidos {{ listRepartidoresInformativo.num_pedidos | number: '2.' }}</span>
                            </td>
                            <td>
                                <span class="fw-600 fs-14">{{ listRepartidoresInformativo.importe | number: '.2' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </ng-container>
        <ng-template #elseTemplate> 
            <app-mapa-ordenes [listaPedidos]="listPedidos" (pedidoOpen)="openDialogOrden($event)"></app-mapa-ordenes>                    
        </ng-template>
        
    </div> -->

    <!-- <button (click)="goRuta()">ir</button> -->

    <div *ngIf="listPedidos" class="xfooter p-2">
        <ng-container *ngIf="isEntregadoAll; else elseTemplate">
            <div  matRipple class="btn btn-secondary w-75 p-2 fs-20 text-white animated fadeInUp delay-0-5s" (click)="entregaTodo()">
                <span>Listo, pedidos entregados.</span>                
            </div> 
        </ng-container>
        <ng-template #elseTemplate>    
            <div  matRipple class="btn btn-success w-75 p-2 fs-20 text-white animated fadeInUp delay-0-5s" (click)="goRuta()">
                <span>Ver Ruta</span>
                <p class="fs-11 fw-100">Ruta mas corta.</p>
            </div> 
        </ng-template>        
    </div>
</div>