.content-body-mapa {
    /* margin-top: 56px; */
    height: calc(100vh - 109px);
    overflow: auto;
}

.btn-link-2:hover {
	text-decoration: none;
	color: gold;
	cursor: pointer;
}

.center-div-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
}

p {
    margin: 0px;    
}


.xfooter {
    /* position: absolute; */
    bottom: 0px;
    text-align: center;
    width: 100%;
    /* padding: 14px;     */
}

.color-checked {
    background-color: #e8f5e9;
  }