p {
    margin: 0px;    
}

.xfooterx {
    /* position: absolute; */
    bottom: 0px;
    text-align: center;
    width: 100%;
    position: relative !important;
    background: #e0e0e0;
    /* padding: 14px;     */
}

.color-checked {
    background-color: #e8f5e9;
  }