<div class="animated fadeInDown container-body">

    <div class="p-3 bg-dark text-white fs-13 d-flex justify-content-between align-items-center">
        <div>
            <span>Lista de pedidos</span>
        </div>      
        <div>
            <button class="btn btn-sm btn-secondary" (click)="recargarPedido()">Recargar <i class="fa fa-refresh ml-1"></i></button>
        </div>  
    </div>

    <!-- lista -->
    <div>
        <!-- test -->
        <!-- <div>
            position navigator
            <p>{{geoPositionActual | json}}</p>
            <br>
            <hr>
            position capacitor 
            <p>{{ geoPositionComercioCapacitor | json}}</p>
            <hr>
        </div> -->

        <!-- paso uno -->
        <!-- <div class="p-4">
            <p class="fw-600 text-secondary">Diríjase hacia el comercio:</p>
            <div class="row">
                <div class="col-6">
                    <p class="fw-100 fs-13">  {{ comercioPedido.nombre }} </p>
                    <p class="fw-100 fs-12 text-secondary">  {{ comercioPedido.direccion }} </p>
                    <p class="fw-100 fs-13 text-secondary">  Pedidos Asignados: </p>
                </div>
                <div class="col-6">
                    <div class="w-100 d-flex justify-content-end">
                        <button class="btn btn-sm btn-secondary" (click)="irAlComercio()">Ir al comercio</button>
                    </div>
                </div>                
            </div>
        </div> -->

        <!-- <div class="p-4">
            <p class="fw-600 text-secondary">Lista de pedidos Asignados</p>
        </div> -->

        <hr class="m-0">

        <table mat-table class="w-100" [dataSource]="listPedidos">
            <!-- Item Column -->
            <ng-container matColumnDef="Comercio">
              <th mat-header-cell *matHeaderCellDef> Comercio </th>
              <td mat-cell *matCellDef="let element">
                    <p class="fw-600 fs-11" style="max-width: 80px;">{{ element.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.nombre | titlecase }}</p>
                    <p class="fw-100 fs-10" style="max-width: 80px;">{{ element.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.direccion | lowercase }}</p>
                                        
                    
                    <ng-container *ngIf="element.time_line.llego_al_comercio; else elseTemplateNollega">
                        <p class="text-success fs-10"><i class="fa fa-check"></i> Llegaste</p>
                    </ng-container>
                    <ng-template #elseTemplateNollega>
                        <p class="text-danger fs-10"> Aún no llegas</p>
                    </ng-template>

                    <!-- test -->
                    <!-- <button (click)="testLlege(element)">llegue</button> -->
                    
                    <!-- <p>d1: {{ element.distanciaMtr }}</p>
                    <p>d2: {{ element.distanciaMtr2 }}</p> -->
              </td>              
            </ng-container>
          
            <!-- Cost Column -->
            <ng-container matColumnDef="Cliente">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Cliente </th>
              <td mat-cell *matCellDef="let element" class="text-left"> 
                    <p class="fw-600 fs-12"> {{ element.json_datos_delivery.p_header.arrDatosDelivery.nombre | titlecase }}  </p>
                    <p class="fw-100 fs-12">
                        <span class="fw-600 badge badge-success mr-1" *ngIf="element.json_datos_delivery.p_header.isCliente === 1">
                            APP
                        </span> 
                        <span class="fw-600 badge" [ngClass]="{'badge-primary': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 3, 'badge-info': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2, 'badge-secondary': element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 1}">
                            {{element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.descripcion | titlecase }} 
                        </span>
                        <span class="text-secondary fs-10 ml-1">
                            {{ element.json_datos_delivery.p_header.arrDatosDelivery.establecimiento.distancia_km }} Km
                        </span>
                    </p>
                    <div class="d-flex">                        
                        <p class="fw-600 text-success fs-10" [ngClass]="{'text-danger': element.hora_show > 25}">
                            {{ element.hora_show }} min                            
                        </p>
                        <p *ngIf="element.time_line.en_camino_al_cliente" class="text-success fs-10 ml-2"><i class="fa fa-check"></i> En Camino</p>
                    </div>

                    <!-- test -->
                    <!-- <button (click)="testEnCamino(element)">en camino</button> -->
              </td>              
            </ng-container>

            <ng-container matColumnDef="Importe">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Importe </th>
                <td mat-cell *matCellDef="let element" class="text-right"> 
                    <p class="fw-600 fs-12"> {{ element.importe_pagar_comercio | number : '.2' }}  </p>
                    <p *ngIf="element.json_datos_delivery.p_header.arrDatosDelivery.metodoPago.idtipo_pago === 2" class="badge badge-info">
                        pagado con tarjeta

                    </p>
                </td>              
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetallePedido(row)" [ngClass]="{'color-checked': row.pwa_estado === 'E'}"></tr>            
        </table>

          <div class="w-100 pt-3">
              <div class="text-right pr-4">
                  <div>
                      <span class="text-secondary pr-2">Total a pagar: </span>
                      <span class="fw-600 fs-18"> {{ sumListPedidos | number : '.2' }} </span>
                  </div>

                  <div>
                      <span class="text-secondary fs-13 pr-2">Ganancia: </span>
                      <span class="fw-600 fs-13 badge badge-info"> {{ sumGananciaTotal | number : '.2' }} </span>
                  </div>
                  
                  <div class="p-2">
                      <span class="fw-100 fs-12 text-info">Cuando sea posible elige pagar cero contacto: Yape ó Tarjeta</span>
                  </div>
              </div>              
          </div>
          <br><br>
    </div>


    <!-- footer boton -->
    <div *ngIf="listPedidos" class="xfooter p-2">
        <ng-container *ngIf="isEntregadoAll; else elseTemplate">
            <div  matRipple class="btn btn-secondary w-75 p-2 fs-20 text-white animated fadeInUp delay-0-5s" (click)="entregaTodo()">
                <span>Listo, pedidos entregados.</span>                
            </div> 
        </ng-container>
        <ng-template #elseTemplate>    
            <div  matRipple class="btn btn-success w-75 p-2 fs-20 text-white animated fadeInUp delay-0-5s" (click)="goRuta()">
                <span>Ver Ruta</span>
                <p class="fs-11 fw-100">Ruta mas corta.</p>
            </div> 
        </ng-template>     
        
    </div>
    
    <!-- <div *ngIf="btnShow" matRipple class="xfooter bg-success w-100 fs-20 text-white animated fadeInUp delay-0-5s" (click)="btnEjecutar()">
        <span>{{btnTitlePasos}}</span>
        <p class="fs-11 fw-100" *ngIf="btnTitlePasos === 'Ir a Entregar'">Muestrame la ruta mas corta.</p>
    </div>  -->
</div>