<div class="fondo">

  <div [hidden]="isBusqueda">
    <!-- toolbar -->
    <ng-container *ngIf="showToolBar isBusqueda">
      <div matRipple class="text-white bg-primary p-2 m-toolbar-seccion xanimated xfadeInDown" (click)="goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="pl-2 font-weight-light fs-13">{{tituloToolBar}}</span>        
      </div>
    </ng-container>

    <!-- categorias -->
    <div [hidden]="!showCategoria" class="xanimated xfadeIn">
        <ng-container *ngIf="miPedidoService.objCarta">
            <ul>
                <li *ngFor="let item of miPedidoService.objCarta.carta" class="xCursor"
                    matRipple [matRippleColor]="rippleColor"
                    (click)="getSecciones(item)">
                    <div class="m1">                          
                      <div class="img mt-2">
                        <img src="assets/images/048-grill.png" alt="">
                      </div>                        
                      <div>
                        <span class="fw-100 fs-20">{{item.des}}</span><br>                        
                        <div class="text-secondary">
                          <span class="mt-2 fs-15">{{ item.detalle | lowercase }}</span><br>
                          <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                          <span class="mt-2 fs-12">Horario de atencion: de {{item.hora_ini}} a {{item.hora_fin}} </span>
                        </div>
                      </div>
                    </div>
                </li>
            </ul>    
        </ng-container>
    </div>    

    <!-- Secciones -->
    <div [hidden]="!showSecciones" class="xanimated xfadeIn m-main-pt-40">
      <ng-container>
        <ul>
          <li *ngFor="let item of objSecciones; let i = index" class="xCursor"
              matRipple [matRippleColor]="rippleColor"
              (click)="getItems(item)">
            <div class="m1">
              <div class="img">
                <img src="assets/images/{{i}}.png" alt="">
              </div>
              <div>
                <span class="fw-100 fs-19">{{item.des}}</span><br>
                <div class="titulo-detalle-seccion text-secondary">
                  <span class="fw-100 mt-2 fs-13">{{getObjDetalleSeccion(item)}}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>

    <!-- items -->
    <div [hidden]="!showItems" class="xtransicion m-main-pt-40 color-fondo-ul">
      <ng-container>
        <ul>
            <!-- [ngClass]="{'li-padding-selected': item.selected}" -->
          <li *ngFor="let item of objItems">
            <div class="xcontent border-left-item-{{getEstadoStockItem(item.cantidad)}}"> 
              <!-- titulo item -->
              <div class="m1 d-flex xtitulo" matRipple [matRippleColor]="rippleColor" [ngClass]="{'li-tachado': item.cantidad < 1, 'p-titulo-item-sin-detalle': item.detalles.length === 0}" (click)="selectedItem(item)">
                <div class="content-titulo-item w-100">
                    <span >{{item.des}}</span>
                    <ng-container *ngIf="item.detalles.length > 0">
                      <p class="titlo-detalle mb-1" >{{item.detalles}}</p>                    
                    </ng-container>
                    <p class="mb-0 float-right">{{item.precio | number:'0.2' }}</p>
                  </div>
                <!-- <div class="text-right d-flex">
                  <div class="flag-stock text-center estado-color-{{getEstadoStockItem(item.cantidad)}}">
                    <div [ngClass]="{'xanimated xwobble': item.cantidad===0}">
                      
                      <span class="fs-9">Stock</span><br>
                      <ng-container *ngIf="item.cantidad != 'ND'; else elseTemplate">
                          <span class="fs-15">{{item.cantidad}}</span>
                      </ng-container>
                      <ng-template #elseTemplate>
                          <span class="fs-15"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                      </ng-template>                      
                      
                    </div>
                  </div>
                  <span>{{item.precio | number:'0.2' }}</span>
                </div> -->
              </div>

              <!-- <ng-container *ngIf="item.selected">
                <div>
                  -- detalle --
                  <ng-container *ngIf="item.detalles === ''; else elseTemplate">
                    <br>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <div class="pl-3 pr-3">
                      <span class="fs-14 text-secondary">{{ item.detalles | lowercase }}</span>
                    </div>
                    <hr [hidden]="item.subitems">                    
                  </ng-template>

                  -- subitems --
                  <ng-container *ngIf="item.subitems">
                    <div class="subitem-content pl-3 pr-3 pt-2">
                      <div class="xoption w-50 fs-13" *ngFor="let subitem of item.subitems; let i = index">
                          <mat-checkbox 
                            (change)="addSubItem(subitem)" 
                            [(ngModel)]="subitem.selected" 
                            [ngClass]="{'li-tachado': subitem.cantidad == '0'}"
                            [disabled]="subitem.cantidad == '0'"
                            >
                            <div>
                              {{subitem.des | lowercase}} 
                              <span *ngIf="subitem.precio != 0" class="fs-11 text-secondary"> 
                                (+ {{subitem.precio | number:'0.2'}})
                              </span> {{subitem.cantidad}}
                            </div>
                          </mat-checkbox>
                      </div>                   
                    </div>
                  </ng-container>
                  
                  -- especificaciones --
                  <div class="pl-3 pr-3">
                    <mat-form-field class="w-100 margin-input">
                      <input matInput placeholder="Escribe aqui las especificaciones" [(ngModel)]="itemSelected.indicaciones" name="indicaciones" #txtIdicaciones (keyup)="addItemIndicaciones(item, txtIdicaciones.value)">
                    </mat-form-field>
                  </div>
                  <hr>

                  -- tipos de consumo --
                  <div class="pl-3 pr-3">
                    <table width="100%" class="tb-tpc">
                      <tr *ngFor="let tp of objItemTipoConsumoSelected">
                        <td>{{tp.descripcion}}</td>
                        <td>
                          <div class="d-flex float-right">
                            <span [hidden]="tp.cantidad_seleccionada === 0" class="fs-19 pr-2">{{tp.cantidad_seleccionada}}</span>
                            <div class="btn-tbl bg-danger xCursor" matRipple (click)="addItemToPedido(tp, 1)">-</div>
                            <div class="btn-tbl bg-success xCursor" matRipple (click)="addItemToPedido(tp, 0)">+</div>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <br>
                  </div>                  
                </div>                
              </ng-container> -->
              
            </div>            
          </li>          
        </ul>        
      </ng-container>
    </div>
    <br>

  </div>

    <!-- busqueda -->
    <div [hidden]="!isBusqueda" class="xtransicion color-fondo-ul xanimated xfadeInDown" style="border-top: 8px solid #3f51b5;">
        <ng-container>
          <ul>
              <!-- [ngClass]="{'li-padding-selected': item.selected}" -->
            <li *ngFor="let item of objCartaBus" [hidden]="!item.visible">
              <div class="xcontent border-left-item-{{getEstadoStockItem(item.cantidad)}}">
                <div class="m1 d-flex xtitulo" matRipple [matRippleColor]="rippleColor" [ngClass]="{'li-tachado': item.cantidad < 1, 'p-titulo-item-sin-detalle': item.detalles.length === 0, 'p-titulo-item-select': item.selected}" (click)="selectedItem(item)">
                  <!-- titulo item -->
                  <div class="content-titulo-item w-100">
                    <span>{{item.des}}</span>
                    <ng-container *ngIf="item.detalles.length > 0">
                        <p class="titlo-detalle" >{{item.seccion}}: {{item.detalles}}</p>                    
                      </ng-container>                    
                  </div>
                  <!-- <div class="text-right d-flex">
                    <div class="flag-stock text-center estado-color-{{getEstadoStockItem(item.cantidad)}}">
                      <div [ngClass]="{'xanimated xwobble': item.cantidad===0}">
                                              
                        <span class="fs-9">Stock</span><br>
                        <ng-container *ngIf="item.cantidad != 'ND'; else elseTemplate">
                            <span class="fs-15">{{item.cantidad}}</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <span class="fs-15"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        </ng-template>  

                      </div>
                    </div>
                    <span>{{item.precio | number:'0.2' }}</span>
                  </div> -->
                </div>

                <!-- <ng-container *ngIf="item.selected">
                  <div>
                    -- detalle --
                    <ng-container *ngIf="item.detalles === ''; else elseTemplate">
                      <br>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <div class="pl-3 pr-3">
                        <span class="fs-14 text-secondary">{{ item.detalles | lowercase }}</span>
                      </div>
                      <hr>                    
                    </ng-template>

                    -- subitems --
                    <ng-container *ngIf="item.subitems">
                        <div class="subitem-content pl-3 pr-3 pt-2">
                          <div class="xoption w-50 fs-13" *ngFor="let subitem of item.subitems; let i = index">
                              <mat-checkbox 
                                (change)="addSubItem(subitem)" 
                                [(ngModel)]="subitem.selected" 
                                [ngClass]="{'li-tachado': subitem.cantidad == '0'}"
                                [disabled]="subitem.cantidad == '0'"
                                >
                                <div>
                                  {{subitem.des | lowercase}} 
                                  <span *ngIf="subitem.precio != 0" class="fs-11 text-secondary"> 
                                    (+ {{subitem.precio | number:'0.2'}})
                                  </span> {{subitem.cantidad}}
                                </div>
                              </mat-checkbox>
                          </div>                   
                        </div>
                      </ng-container>
                    
                    
                    -- especificaciones --
                    <div class="pl-3 pr-3">
                      <mat-form-field class="w-100 margin-input">
                        <input matInput placeholder="Escribe aqui las especificaciones" [(ngModel)]="itemSelected.indicaciones" name="indicaciones" #txtIdicaciones (keyup)="addItemIndicaciones(item, txtIdicaciones.value)">
                      </mat-form-field>
                    </div>
                    <hr>
                    -- tipos de consumo --
                    <div class="pl-3 pr-3">
                      <table width="100%" class="tb-tpc">
                        <tr *ngFor="let tp of objItemTipoConsumoSelected">
                          <td>{{tp.descripcion}}</td>
                          <td>
                            <div class="d-flex float-right">
                              <span [hidden]="tp.cantidad_seleccionada === 0" class="fs-19 pr-2">{{tp.cantidad_seleccionada}}</span>
                              <div class="btn-tbl bg-danger xCursor" matRipple (click)="addItemToPedidoFromBusqueda(tp, 1)">-</div>
                              <div class="btn-tbl bg-success xCursor" matRipple (click)="addItemToPedidoFromBusqueda(tp, 0)">+</div>
                            </div>
                          </td>
                        </tr>
                      </table>
                      <br>
                    </div>                  
                  </div>                
                </ng-container> -->
                
              </div>            
            </li>          
          </ul>        
        </ng-container>
      </div>
      <br>
</div>
