<div class="animated fadeIn content-pago">
    <!-- header -->
  <div class="header-pago p-3">    
    <i class="fa fa-arrow-left" [routerLink]="['../']"></i>    
    <span class="pl-2">Perfil</span>
  </div>

  <!-- body -->
  <div class="content-pago overflow-hidden">

    <mat-tab-group class="fondo-tab-group" [color]="colorToggle">
        <mat-tab>
          <ng-template mat-tab-label>
              <div class="header-tab-cliente">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="fs-10">Datos</span>      
              </div>
          </ng-template>          
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="header-tab-cliente">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span class="fs-10">Comprobantes</span>      
            </div>
          </ng-template>          
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="header-tab-cliente">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span class="fs-10">Historial</span>      
            </div>
          </ng-template>          
        </mat-tab>
      </mat-tab-group>

      <div class="mt-body p-3 mb-2 overflow-auto">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>