.d-inline-box {
    display: -webkit-inline-box;
}

.fondo-tab-group {
    /* background: #0154A0; */
    background: #303f9f;
    /* top: 50px; */
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

.header-tab-cliente {
    display: grid !important;
    color: white;
}

.xfooter {
    bottom: 0px;
    /* position: fixed; */
    text-align: center;
    width: 100%;
    /* padding: 20px; */
}