<div class="animated fadeIn">
    <div class="div-flat-white-borde mb-2">
        <p class="fw-100">Mis datos</p>
        <hr>
        <form [formGroup]="registerForm" *ngIf="dataCliente">
            <div class="w-100">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Nombres" formControlName="nombres">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput placeholder="DNI" formControlName="ruc" >
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input type="date" matInput placeholder="Fecha Nacimiento" formControlName="f_nac" value="{{ dataCliente.f_nac | date:'yyyy-dd-MM' }}">
                </mat-form-field>            
            </div>
            <div class="text-center" *ngIf="!registerForm.pristine">
                <button mat-stroked-button color="primary" (click)="guardarDatosCliente()">Guardar cambios</button>
            </div>
        </form>

    </div>
    <!-- <br> -->
    <div class="div-flat-white-borde mb-2">
        <p class="fw-100">Direcciones registradas</p>
        <hr>
    </div>
    <!-- <br> -->
    <div class="div-flat-white-borde text-center">
        <button mat-button color="accent" (click)="cerrarSession()">Cerrar sesión</button>
    </div>
    <br><br><br><br>    
</div>
